@font-face {
  font-family: Montserrat, RobotoMono;
  src: url('fonts/Montserrat-Regular.ttf', 'fonts/RobotoMono-Regular.ttf');
}
h2, h3, h6 {
  font-family: 'Montserrat', sans-serif;
  }
h2, p, h3 {
  color: rgba(250,250,250,0.9);
}
p{
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}
h2, span{
  transition-property: color, opacity;
}
span{
  color: white;
  font-size:30px;
  cursor:pointer;
  float:right;
  padding-right: 25px;
  padding-top: 12px;
}
h6 {
  color: rgba(250,250,250,0.8);
}
img {
  max-width: 40%;
  height: auto;
  display: inline;
  margin: 0.1%;
}
footer {
  text-align: center;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
}
span:hover{
  color: #a400c0;
  opacity: 1;
}
h2:hover{
  color: #a400c0;
  opacity: 1;
}
a:hover {
  color: #a400c0;
  opacity: 1;
}
a:active {
  color: rgba(250,250,250,1);
}
body {
  background-color: #191919;
}
a {
  text-decoration: none;
  color: rgba(250,250,250,0.55);
  transition-property: color, opacity;
}
.sticky {
  position: fixed;
  z-index: 1;
}
#myImg {
  cursor: url('../cursors/zoom2.png'), zoom-in;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;z-index: 0;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
  cursor: url('../cursors/cancel1.png'), zoom-out;
  transition: 0.3s;
}



/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* Center the loader */
#loader {
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
  z-index: 1;
  border: 5px solid #cdcdcd;
  border-radius: 50%;
  border-top: 5px solid #A400C0;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 4px;
  transition-property: color;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #a400c0;
  opacity: 1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {

img {
  display: inline;
  margin: 0.1%;
  max-width: 100%;
  height: auto;
}
.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
  cursor: url('../cursors/cancel.png'), zoom-out;
  transition: 0.3s;
  padding-top: 10%;
}
  }