
body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.8);
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ container ------------ */
.container{
    padding:10px;
    width:380px;
    margin:0 auto;
}

/* ------------ header ------------ */
.header{
    width: 380px;
    height:100px;
    background-image: url('../img/a (4).png');
    background-size: 100% 400%;
    border-radius: 15px 15px 0 0;
    position: relative;
    opacity: 1;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #cdcdcd;
    transition-property: color;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #191919;
    transform: rotate(45deg);
    color: #fff;
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    width:380px;
    height: 500px;
    max-height:500px;
    background-color: #191919;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    width: 5px;
    height: 5px;
}
.content::-webkit-scrollbar-track {  
    background: #000;
}
.content::-webkit-scrollbar-thumb {  
    background: #cdcdcd;
}

.content ul{
    padding:0;
    margin:0;
}
.item{
    width:375px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(250,250,250,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
    color: #cdcdcd;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#cdcdcd;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #191919;
    max-width:285px;
    color: #cdcdcd;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
    color: #cdcdcd;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 360px;
    height:40px;
    background-color: #191919;
    padding: 10px;
    border-top: 1px solid rgba(250,250,250,0.1);
    border-radius: 0 0 15px 15px;
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #cdcdcd;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
    color: white;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cdcdcd;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #cdcdcd;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #cdcdcd;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #cdcdcd;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}




























